<form method="POST" action="/blog/post/add">
    <input type="text" name="title" placeholder="Title"> <br>
    <textarea name="content" placeholder="Content"></textarea> <br>
    <label><input type="checkbox" name="isPublic" value="true">Publiczny</label><br>
    <button>Dodaj</button>
</form>